#printDiv .teamHeader div {
  display: inline-block;
  padding: 10px;
}

#printDiv .teamVehicles {
  display: grid;
  grid-template-columns: 98mm 98mm;
  overflow: visible;
}

#printDiv .vehicleCard {
  margin: 2.5mm 0;
  width: 100mm;
  height: 70mm;
  background-image: url("/img/vehicle-card-background.png");
  background-size: contain;
  background-repeat: no-repeat;
}

#printDiv .vehicleHeader {
  display: grid;
  grid-template-columns: 43.5mm 20mm 18.9mm;
  grid-template-rows: 4mm 4mm;
  gap: 2px 8px;
  margin: 5.25mm 0 0 4.75mm;
}

#printDiv .vehicleName {
  grid-column: 1 / -2;
  font-weight: bold;
  font-size: 12pt;
}

#printDiv .vehicleType {
  grid-column: 1;
  grid-row: 2;
  font-size: 9pt;
}

#printDiv .vehicleWeight {
  grid-column: 2;
  grid-row: 2;
  font-size: 7pt;
  text-align: right;
  padding-top: 1mm;
}

#printDiv .vehicleMaxGear {
  grid-column: 3;
  grid-row: 1;
  font-size: 9pt;
  padding-top: 1.75mm;
  text-align: center;
}

#printDiv .vehicleGear {
  grid-column: 3;
  grid-row: 2;
  font-size: 27pt;
  text-align: center;
}

#printDiv .vehicleStats {
  margin: 1.25mm 0 0 4.75mm;
  display: grid;
  grid-template-columns: 21.9mm 21.9mm 21.9mm;
  grid-template-rows: 10mm 4mm;
  font-size: 9pt;
}

#printDiv .hullLabel {
  grid-column: 1;
  grid-row: 1;
  transform: rotate(-90deg) translate(-4px, 0);
  width: 25px;
  font-size: 9pt;
}

#printDiv .hullPoints {
  grid-column: 2;
  grid-row: 1;
  width: min-content;
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-auto-flow: column;
  grid-auto-columns: 4.5mm;
  row-gap: 2.4px;
  column-gap: 2px;
  margin-left: 4mm;
}

#printDiv .hullPoint {
  background-color: white;
  border: 0 solid black;
  border-radius: 1px;
  width: 4.6mm;
  height: 3.6125mm;
  display: inline-flex;
  cursor: pointer;
}

#printDiv .armoryContainer {
  display: grid;
  grid-template-columns: 5.25mm 80mm;
  font-family: "Agdasima", sans-serif;
  font-size: 6pt;
  margin: 11.5mm 0 0 5.1mm;
  height: 24mm;
}

#printDiv .armoryLabel {
  grid-column: 1;
  grid-row: 1;
  width: 25mm;
  transform: rotate(-90deg) translate(0, -1.4mm);
  font-size: 9pt;
  font-family: "Stardos Stencil", system-ui;
  font-weight: bold;
}

#printDiv .smallerArmory {
  grid-template-columns: 5.25mm 55mm;
}

#printDiv .vehicleImg {
  position: relative;
}

#printDiv .theVehicleImg {
  position: absolute;
  width: 19.5mm;
  height: 19.5mm;
  object-fit: cover;
  transform: rotate(16.5deg);
  top: -23.3mm;
  left: 70mm;
  z-index: 1;
  background-image: url(/img/bg01.png);
  background-size: cover;
}

#printDiv .theFrame {
  position: absolute;
  width: 80mm;
  top: -53mm;
  left: 16.5mm;
  z-index: 2;
  pointer-events: none;
  -webkit-user-select: none;
  user-select: none;
}
