#printDiv .teamHeader div {
  padding: 10px;
}

#printDiv .teamVehicles {
  grid-template-columns: 98mm 98mm;
}

#printDiv .vehicleCard {
  width: 100mm;
  height: 70mm;
}

#printDiv .vehicleHeader {
  grid-template-columns: 43.5mm 20mm 18.9mm;
  margin: 5.25mm 0 0 4.75mm;
}

#printDiv .vehicleName {
  font-size: 12pt;
}

#printDiv .vehicleType {
  font-size: 9pt;
}

#printDiv .vehicleWeight {
  font-size: 7pt;
}

#printDiv .vehicleMaxGear {
  font-size: 9pt;
}

#printDiv .vehicleGear {
  font-size: 27pt;
}

#printDiv .vehicleStats {
  margin: 1.25mm 0 0 4.75mm;
  grid-template-columns: 21.9mm 21.9mm 21.9mm;
  grid-template-rows: 10mm 4mm;
  font-size: 9pt;
}

#printDiv .hullLabel {
  transform: rotate(-90deg) translate(-4px, 0);
  font-size: 9pt;
}

#printDiv .hullPoints {
  grid-auto-columns: 4.5mm;
  row-gap: 2.4px;
  margin-left: 4mm;
}

#printDiv .hullPoint {
  width: 4.6mm;
  height: 3.6125mm;
}

#printDiv .armoryContainer {
  grid-template-columns: 5.25mm 80mm;
  margin: 11.5mm 0 0 5.1mm;
  height: 24mm;
}

#printDiv .armoryLabel {
  transform: rotate(-90deg) translate(0, -1.4mm);
  font-size: 9pt;
}

#printDiv .smallerArmory {
  grid-template-columns: 5.25mm 55mm;
}


#printDiv .theVehicleImg {
  left: 70mm;
}

#printDiv .theFrame {
  left: 16.5mm;
}
